{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"><body>
    <i class="material-icons" style="font-size:60px;color:red;">cloud</i>
    <i class="material-icons-outlined">
        search
    </i>
    <span class="material-icons-outlined">
        done
        </span>
        <span class="material-icons-outlined">
            home
            </span>

            <a href=""><span class="material-icons-outlined">
                favorite_border
                </span></a>

    <h1 style="color:red;text-align:center">welcome</h1><br>
    <form action="">
        <h2>Login</h2><br>
        <label for="">Username:</label><br>
        
        <input type="text"><br>
        <label for="">Password:</label><br>
        <input type="password">
    </form>
    <img src="{% static 'images/Screenshot (1).png' %}" alt="">
    
</body>
</html>