<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        // name = 'Smith';
        // console.log(name);
        // console.log(typeof(name))
        // age = 21;
        // console.log(typeof(age))
        isUser = true;
        console.log(isUser)
        console.log(typeof(isUser))
        arr = [2,7,4,8,'name']
        console.log(arr[0])
        dictionary1 = {'name':'David', 'age':25, 1:'asf'}
        console.log(dictionary1['name'])
        //variable scope
        function f1(){
            var a = 23;
        }
    </script>
</head>
<body>
    <button onclick="alert('Alert message')">click</button>
    <button onclick="prompt('Enter your name')">click prompt</button>
    <button onclick="confirm('Confirm')">Confirm</button>
</body>
</html>