<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // a = 10
        // b = 15
        // function f1(a, b){
        //     k = i + j
        //     console.log(k)
        //     a = 20
        //     b = 25
        //     console.log('Printing from function')
        //     console.log(a,b)
        // }
        // f1(a,b)
        // console.log('Printing from outside function')
        // console.log(a,b)
        // f1(5,6,'base')
        // f1(8,11)

        
        
        // obj = {a:10, b:20}
        // function f2(obj){
        //     obj.a = 12
        //     obj.b = 15
        //     console.log('Inside func')
        //     console.log(obj.a,obj.b)
        // }
        // console.log(obj)
        // f2(obj)
        // console.log('Outside func')
        // console.log(obj)



        // function f3(){
        //     k = a + b
        //     console.log(k)
        //     return k
        // }
        // f3(a = 4, b = 6)
        // result = f3(6,7)
        // console.log(result)

        function products({name, price}){
            console.log(name,price)
        }
        products({name: 'Laptop', price: '45'})


            
    </script>
</body>
</html>