<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
   for(i=0; i<10; i++){
       if(i == 5){
           break
       }
       console.log(i)
   }
   
   
   
   // i=20
    // do{
    //     console.log(i)
    //     i++
    // }while(i<10)
    
    
    
    // i=0
    // while(i<10){
    //     console.log(i)
    //     i++
    // }
    
    
    
    
    // d = {1:'football', 2:'basketball', 3:'cricket'}
    // for(item in d){
    //     console.log(d[item])
    // }
    
    
    
    
    
    //    for(i=0; i<=10; i++){
    //        console.log(i)
    //    }
    //    arr = ['football','cricket','basketball','baseball']
    //    for(i=0; i<arr.length; i++){
    //        console.log(arr[i])
    //    }
    //    for(item of arr){
    //        console.log(item)
    //    }
       
       
       
       
       
       
       
       // number1 = parseInt(prompt('Enter the first number:'))
        // number2 = parseInt(prompt('Enter the second number'))
        // number3 = parseInt(prompt('Enter the third number'))
        // if(number1 > number2 && number1 > number3){
        //     console.log(number1,'is the largest')
        // }
        // else if(number2 > number3){
        //     console.log(number2,'is the largest')
        // }
        // else{
        //     console.log(number3,'is the largest')
        // }

        
        
        
        
        // grade = prompt('Enter your grade')
        // switch (grade) {
        //     case 'A':
        //         alert('Excellent')
        //         break;
        //     case 'B':
        //         alert('Good')
        //         break;
        
        //     default:
        //         alert('Invalid input')
        //         break;
        // }
        
        
        
        
        // number = parseInt(prompt('Enter first number'))
        // console.log(number)
        // console.log(typeof(number))
        // if(number > 90){
        //     console.log("A Grade")
        // }
        // else if(number > 80 && number < 90){
        //     console.log('B Grade')
        // }
        // else{
        //     console.log('C Grade')
        // }
        // if(number % 2 == 0){
        //     console.log('Even Number')
        // }
        // else{
        //     console.log('Odd Number')
        // }
        // if(number > 10){
        //     console.log('Number is larger than 10')
        // }
        // else{
        //     console.log('Number is smaller than 10')
        // }
    </script>
</body>
</html>