<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        number1 = parseInt(prompt('Enter the first number:'))
        number2 = parseInt(prompt('Enter the second number'))
        number3 = parseInt(prompt('Enter the third number'))
        if(number1 > number2 && number1 > number3){
            console.log(number1,'is the largest')
        }
        else if(number2 > number3){
            console.log(number2,'is the largest')
        }
        else{
            console.log(number3,'is the largest')
        }

        
        
        
        
        // grade = prompt('Enter your grade')
        // switch (grade) {
        //     case 'A':
        //         alert('Excellent')
        //         break;
        //     case 'B':
        //         alert('Good')
        //         break;
        
        //     default:
        //         alert('Invalid input')
        //         break;
        // }
        
        
        
        
        // number = parseInt(prompt('Enter first number'))
        // console.log(number)
        // console.log(typeof(number))
        // if(number > 90){
        //     console.log("A Grade")
        // }
        // else if(number > 80 && number < 90){
        //     console.log('B Grade')
        // }
        // else{
        //     console.log('C Grade')
        // }
        // if(number % 2 == 0){
        //     console.log('Even Number')
        // }
        // else{
        //     console.log('Odd Number')
        // }
        // if(number > 10){
        //     console.log('Number is larger than 10')
        // }
        // else{
        //     console.log('Number is smaller than 10')
        // }
    </script>
</body>
</html>