<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var age = 45
        function f1(){
           var inside = 34
           console.log(inside)
        //    console.log(age)
           let name = 'Kapil'
        //    console.log(name) 
        }
        f1()
        // name = 'Smith'
        // console.log(name)
        // inside = 56
        inside = 67
        // console.log(inside)
    </script>
</head>
<body>
    
</body>
</html>