<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            border: 5px solid;
            /* padding-top: 50px;
            padding-left: 40px;
            padding-bottom: 70px;
            padding-right: 100px; */
            padding: 100px 200px;
            margin: 100px;
        }
    </style>
</head>
<body>
    <div>
        <h1>First div</h1>
    </div>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto tenetur nostrum est, veniam, quos quasi voluptas debitis doloremque id laboriosam, officiis quae impedit? Sit illum ipsa porro harum, neque consequatur.
    </p>
</body>
</html>